<%= form_for(@target, html: { class: "target-form ui form segment error" }) do |f| %>
  <% if @target.errors.any? %>
    <div id="error_explanation" class="ui error message">
      <h2 class="header">
        <%= pluralize(@target.errors.count, "error") %> prohibited this target from being saved:
      </h2>

      <ul class="list">
        <% @target.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field <%= error_class(@target, :name) %>">
    <%= f.text_field :name, placeholder: "Name" %>
    <%= error_label(@target, :name) %>
  </div>
  <div class="field <%= error_class(@target, :url) %>">
    <%= f.text_field :url, placeholder: "Url" %>
    <%= error_label(@target, :url) %>
  </div>
  <div class="field <%= error_class(@target, :selector) %>">
    <%= f.text_field :selector, placeholder: "Selector" %>
    <%= error_label(@target, :selector) %>
  </div>
  <div class="field <%= error_class(@target, :linkreg) %>">
    <%= f.text_field :linkreg, placeholder: "Linkreg" %>
    <%= error_label(@target, :linkreg) %>
  </div>
  <div class="field <%= error_class(@target, :namereg) %>">
    <%= f.text_field :namereg, placeholder: "Namereg" %>
    <%= error_label(@target, :namereg) %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class:"ui blue submit button floated widget right" %>
  </div>
<% end %>
