<%= form_for(@target, html: { class: "ui form segment" }) do |f| %>
  <% if @target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
      <% @target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="field">
    <%= f.text_field :url, placeholder: "Url" %>
  </div>
  <div class="field">
    <%= f.text_field :selector, placeholder: "Selector" %>
  </div>
  <div class="field">
    <%= f.text_field :linkreg, placeholder: "Linkreg" %>
  </div>
  <div class="field">
    <%= f.text_field :namereg, placeholder: "Namereg" %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class:"ui blue submit button floated widget right" %>
  </div>
<% end %>
