<h1 class="ui header aligned center">Listing targets</h1>

<table class="ui table segment">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Status</th>
      <th>Selector</th>
      <th>Linkreg</th>
      <th>Namereg</th>
      <th>Scancount</th>
      <th>Scantime</th>
      <th>Updatetime</th>
      <th>Operate</th>
    </tr>
  </thead>

  <tbody>
    <% @targets.each do |target| %>
      <tr>
        <td><%= target.name %></td>
        <td><%= link_to target.url, target.url, target: "_blank" %></td>
        <td><%= target.status %></td>
        <td><%= target.selector %></td>
        <td><%= target.linkreg %></td>
        <td><%= target.namereg %></td>
        <td><%= target.scancount %></td>
        <td><%= target.scantime %></td>
        <td><%= target.updatetime %></td>
        <td>
          <%= link_to target do %>
            <i class="zoom in basic icon"></i>
          <% end %>
          <%= link_to edit_target_path(target) do %>
            <i class="edit basic icon"></i>
          <% end %>
          <%= link_to target, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="delete basic icon"></i>
          <% end %>
          <%= link_to controller: "targets", method: :run do %>
            <i class="clockwise basic icon"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Target', new_target_path %>
